/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
**/.idea/workspace.xml
**/.idea/tasks.xml
_ide_helper.php
/.idea
/public/images
public_html/images/tmp/
public_html/asset/material/tmp
public_html/asset/material/videos
.htpasswd
